<div class="mt-5">
  <p style="font-weight: bold; font-size: 1.5rem;">Nhập thông tin tại đây</p>
  <form method="GET" action="">
      <div class="mb-3">
          <div class="row g-3 align-items-center">
              <div class="col-1">
                  <label for="inputPassword6" class="col-form-label">Họ và tên:</label>
              </div>
              <div class="col">
                  <input type="text" name="name" class="form-control" id="search-info" placeholder="Nhập tên..." />
              </div>
          </div>
      </div>
      <div class="mb-3">
          <div class="row g-3 align-items-center">
              <div class="col-1">
                  <label for="inputPassword6" class="col-form-label">Tuổi:</label>
              </div>
              <div class="col">
                <input type="text" name="age" class="form-control" id="search-info" placeholder="Nhập tuổi..." />
              </div>
          </div>
      </div>
      <div class="mb-3">
          <div class="row g-3 align-items-center">
              <div class="col-1">
                  <label for="inputPassword6" class="col-form-label">Tìm kiếm:</label>
              </div>
              <div class="col">
                <input type="text" name="q" class="form-control" id="search-info" placeholder="Nhập tìm kiếm..." />
              </div>
          </div>
      </div>
      <div class="mb-3">
          <label for="gender-input">Từ khoá</label>
          <select name="gender" class="form-control" id="'gender-input">
              <option value="gender">--Chọn giới tính--</option>
              <option value="male">Nam</option>
              <option value="female">Nữ</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
